DO  
DECLARE
    t text;
    tables text[] := ARRAY['restaurantes', 'menu_items', 'menu_categorias', 'menu_combos', 'menu_promociones', 'cupones_restaurante', 'pedidos'];
BEGIN
    FOREACH t IN ARRAY tables
    LOOP
        IF NOT EXISTS (
            SELECT 1 
            FROM pg_publication_tables 
            WHERE pubname = 'supabase_realtime' 
            AND tablename = t
        ) THEN
            EXECUTE format('ALTER PUBLICATION supabase_realtime ADD TABLE %I', t);
        END IF;
    END LOOP;
END;
 LANGUAGE plpgsql;
